.ButtonLarge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 9px 24px;
    gap: 80px;
    width: auto;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}

.ButtonSmall {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 10px;
    gap: 8px;
    height: 32px;
    border-radius: 4px;
    border: none;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}
