.productsCartBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 24px;
    width: 100%;
    height: auto;
    
}

.productsCartBox h2 {
    width: auto;
    height: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #2A5B45;
}

.detailsBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 100%;
    height: auto;
    
}

.producTable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    width: 792px;
    height: auto;
}

.producTable h3 {
    width: auto;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}